.footer_content , .footer_contents {
  background: url(../../../static/images/image.index/footer.png) no-repeat;
  background-size: cover;
  margin-top: 3em;
  position: relative; }
  .footer_content .contact_us,
  .footer_contents .contact_us {
    height: 41.78em;
    position: relative; }
    .title_core {
      width: 10.93em;
      height: 8.35em;
      position: relative;
      left: -18px;
      margin: 0 auto;
      padding-top: 3em;
      border: none;}
      .footer_content .contact_us .title_core_block,
      .footer_contents .contact_us .title_core_block {
        width: 14.289em;
        height: 5.537em;
        background-color: inherit;
        position: relative;}
        .footer_content .contact_us .title_core_block  h3,
        .footer_contents .contact_us .title_core_block  h3 {
            letter-spacing: 5px;
            font-size: 28px;
            text-align: center;
          }
        .footer_content .contact_us .title_core_block  .hr_width,
        .footer_contents .contact_us .title_core_block  .hr_width {
            width: 2.5em;
            height: 2px;
            background: #f26223;
            margin-top: 0.786em;
            margin-bottom: 4px;
          }
        .footer_content .contact_us .title_core_block  p,
        .footer_contents .contact_us .title_core_block  p {
            font-size: 18px;
            letter-spacing: 5px;
            text-align: center;
          }
        .footer_content .contact_us .title_core .title_core_block i,
        .footer_contents .contact_us .title_core .title_core_block i {
          border: 1px solid #399bff;
          display: block;
          width: 12.14em;
          height: 1.6em;
          position: absolute;
          left: 1em; }
      .footer_content .contact_us .title_core .border_top,
      .footer_contents .contact_us .title_core .border_top {
        border-bottom: 0 !important;
        top: 1.2em; }
      .footer_content .contact_us .title_core .border_bottom,
      .footer_contents .contact_us .title_core .border_bottom {
        border-top: 0 !important; }
      .footer_content .contact_us .ad_massage,
      .footer_contents .contact_us .ad_massage {
        padding-top: 12em}
      .footer_content .contact_us .ad_massage li i,
      .footer_contents .contact_us .ad_massage li i {
        width: 4.857em;
        height: 4.857em;
        display: block;
        margin: 0 auto;
        background: #646464;
        text-align: center;
        border-radius: 50%; }
        .footer_content .contact_us .ad_massage li i img,
        .footer_contents .contact_us .ad_massage li i img{
          /* width:36px; */
          height:30px;
          margin-top:18.5px;
        }
      .footer_content .contact_us .ad_massage li P,
      .footer_contents .contact_us .ad_massage li P {
        text-align: center;
        margin-top: 1.5em;
        color: #fff; }
  .footer_content .company_name,
  .footer_contents .company_name {
    width: 100%;
    height: 70px;
    text-align: center;
    background: #1c1c19;
    position: absolute;
    bottom: 0em; }
    .footer_content .company_name p,
    .footer_contents .company_name p {
      color: #fff;
      height: 1.643em;
      letter-spacing: 2px;
      font-size: 12px;
      padding-top: 1em; }
