<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name=" Keywords" content="......">      <!--content中，网页关键字-->
  <meta name=" description" content="......">   <!--content中，网页描述文字-->
  <meta name="author" content="......">        <!--标注作者-->
  <title>关于我们-合作伙伴</title>
  <link rel="stylesheet" href="../../bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../../static/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../static/css/common/reset.css">
  <link rel="stylesheet" href="../../static/css/common/nav.css">
  <link rel="stylesheet" href="../../static/css/common/foot.css">
  <link rel="stylesheet" href="../../static/css/view/aboutUs/aboutUs.css">


  <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.js"></script>
  <script type="text/javascript" src="../../bootstrap/bootstrap.min.js"></script>
  <script type="text/javascript" src="../../static/js/common/nav.js"></script>
  <script type="text/javascript" src="../../static/js/common/foot.js"></script>
  <script type="text/javascript" src="../../static/js/common/public.js"></script>
  <script type="text/javascript" src="../../static/js/views/aboutUs/aboutUs.js"></script>

  <style>
    .statement{
      margin-bottom:100px;
    }
    .content_imgs img{
      width:300px;
      height: 144px;
      border: 1px solid #f1f1f1;
      margin-left:20px;
      margin-bottom:24px;
      box-shadow:3px 3px 8px #f1f1f1;
    }
    .content_imgs img:nth-child(1),
    .content_imgs img:nth-child(4),
    .content_imgs img:nth-child(7),
    .content_imgs img:nth-child(10),
    .content_imgs img:nth-child(13),
    .content_imgs img:nth-child(16){
      margin-left:0;
    }
  </style>
</head>
<body>
  <!--  导航 开始 -->
  <div class="top"></div>
  <!--  导航结束  -->

  <!--  下拉导航  开始  -->
  <nav class="nav_content" style="margin-top:130px;"></nav>
  <!--  下拉导航  开始  -->

  <!--  合作伙伴 banner  开始  -->
  <div class="banner">
    <img src="../../static/images/itserverimg/itserverbanner1.png" alt="">
    <div class="banner_details">
      <h1>关于我们</h1>
      <span>上海广亿信息技术有限公司，是一家信息技术服务提供商及软件研发的高科技公司</span>
    </div>
  </div>
  <!--  合作伙伴 banner  结束  -->

  <!--  竞争优势 content 开始  -->
  <div class="container">
    <!-- 左侧导航 -->
    <div class="about_nav_left fl"></div>
    <div class="content_body fl">
      <div class="statement">
        <div class="content_title" style="margin-bottom:0;height:auto;"></div>
      </div>
    </div>
  </div>
  <!--  竞争优势 content 结束  -->


  <!--  底部内容 开始  -->
  <footer class="footer_content"></footer>

  </body>

  <script type="text/javascript">
    $(function(){

      var dataFirst = datas[0].first     //页面标题

      // 页面标题块内容
      $(".content_title").html(
        '<h2 class="fl">'+dataFirst.title+'</h2>'+
        '<hr class="title_hr fr" style="width:85%;">'+
        '<div style="clear:both;"></div>'+
        '<div class="content_imgs" style="margin-top:50px;"></div>'
      );
      
      $.each(dataFirst.url,function(i,v){
        $(".content_imgs").append('<img src="'+v.logourl+'" />');
      });

      
  });

    var datas = [
      {"first":
        {"title":"合作伙伴",
         "url":[
           {"logourl":"../../static/images/aboutUs/partner01.png"},
           {"logourl":"../../static/images/aboutUs/partner02.png"},
           {"logourl":"../../static/images/aboutUs/partner03.png"},
           {"logourl":"../../static/images/aboutUs/partner04.png"},
           {"logourl":"../../static/images/aboutUs/partner05.png"},
           {"logourl":"../../static/images/aboutUs/partner06.png"},
           {"logourl":"../../static/images/aboutUs/partner07.png"},
           {"logourl":"../../static/images/aboutUs/partner08.png"},
           {"logourl":"../../static/images/aboutUs/partner09.png"},
           {"logourl":"../../static/images/aboutUs/partner010.png"},
           {"logourl":"../../static/images/aboutUs/partner011.png"},
           {"logourl":"../../static/images/aboutUs/partner012.png"},
           {"logourl":"../../static/images/aboutUs/partner013.png"},
           {"logourl":"../../static/images/aboutUs/partner014.png"},
           {"logourl":"../../static/images/aboutUs/partner015.png"},
           {"logourl":"../../static/images/aboutUs/partner016.png"},
           {"logourl":"../../static/images/aboutUs/partner017.png"},
           {"logourl":"../../static/images/aboutUs/partner018.png"}
         ],
         "text":null
        }
      }
    ]
  </script>
</html>
