<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name=" Keywords" content="......">      <!--content中，网页关键字-->
    <meta name=" description" content="......">   <!--content中，网页描述文字-->
    <meta name="author" content="......">        <!--标注作者-->
    <title>关于我们-员工风采</title>
    <link rel="stylesheet" href="../../bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/css/common/reset.css">
    <link rel="stylesheet" href="../../static/css/common/nav.css">
    <link rel="stylesheet" href="../../static/css/common/foot.css">
    <link rel="stylesheet" href="../../static/css/view/aboutUs/aboutUs.css">


    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.js"></script>
    <script type="text/javascript" src="../../bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/js/common/nav.js"></script>
    <script type="text/javascript" src="../../static/js/common/foot.js"></script>
    <script type="text/javascript" src="../../static/js/common/public.js"></script>
    <script type="text/javascript" src="../../static/js/views/aboutUs/staff.style.js"></script>
    <script type="text/javascript" src="../../static/js/views/aboutUs/aboutUs.js"></script>
  </head>
  <body>
    <!--  导航 开始 -->
    <div class="top"></div>
    <!--  导航结束  -->

    <!--  下拉导航  开始  -->
    <nav class="nav_content" style="margin-top:130px;"></nav>
    <!--  下拉导航  开始  -->

    <!--  员工风采 banner  开始  -->
    <div class="banner">
      <img src="../../static/images/itserverimg/itserverbanner1.png" alt="">
      <div class="banner_details">
        <h1>员工风采</h1>
        <span>上海广亿信息技术有限公司，是一家信息技术服务提供商及软件研发的高科技公司</span>
      </div>
    </div>
    <!--  员工风采 banner  结束  -->

    <!--  员工风采 content 开始  -->
    <div class="container content_body" style="position:relative;">
      <div class="statement">
        <div class="content_title" style="margin-bottom:0;"></div>
      </div>
      <div class="second_content"></div>
      <div style="position:absolute;right:0;top:1135px;width:35px;">
        <em style="width:1px;display:inline-block;border:1px solid #c7c7c7;height:155px;position:absoute;left:0;bottom:0;"></em>
        <p style="display:inline-block;width:25px;height:auto;overflow:hidden;padding-left:10px;line-height:1.5;">
          我们尽心做好每一项任务，站好每一段岗位
          <i style="width:100%;height:8px;display:block;background:#c7c7c7;margin-top:7px;"></i>
        </p>

      </div>
    </div>
    <!--  员工风采 content 结束  -->


    <!--  底部内容 开始  -->
    <footer class="footer_content"></footer>
  </body>

  <script type="text/javascript">
    // 员工风采
    $(function(){

      var dataFirst = datas[0].first
      var dataSecond = datas[1].second

      console.log(dataFirst)
      $(".content_title").html(
        '<h2 class="fl">'+dataFirst.title+'</h2>'+
        '<hr class="title_hr fr" style="width:88%;">'
      )

      $.each(dataSecond,function(i, v) {
        $(".second_content").append(
          '<div class="content_lists clearfix">'+
            '<div class="content_img fl">'+'</div>'+
            '<div class="content_texts fl">'+
              '<h3 style="padding-top:80px;">'+this.day+'</h3>'+
              '<h4>'+this.title+'</h4>'+
              '<p>'+this.text[0].detail+'</p>'+
            '</div>'+
          '</div>'
        )
        $.each(this.url,function(index, v) {
          $(".content_img").eq(i).append(
            '<img src="'+v+'" />'
          )
        });
      });

    })


    var datas = [
      {"first":
        {"title":"员工风采","text":""}
      },
      {"second":[
        {"day":"2013年8月16号","title":"集思“广亿”",
        "text":[{"detail":"我们尽心做好每一项任务，站好每一段岗位。我们精益求精，严格要求自己，只为有个更好的作品。"}],
        "url":["../../static/images/competitive.edge/staffshow01.png"]},
        {"day":"2014年8月16号","title":"集思“广亿”",
          "text":[{"detail":"我们尽心做好每一项任务，站好每一段岗位。我们精益求精，严格要求自己，只为有个更好的作品。"}],
          "url":["../../static/images/competitive.edge/staffshow02.png",
                "../../static/images/competitive.edge/staffshow03.png",
                "../../static/images/competitive.edge/staffshow04.png"
              ]
        },
        {"day":"2015年8月16号","title":"集思“广亿”",
          "text":[{"detail":"我们尽心做好每一项任务，站好每一段岗位。我们精益求精，严格要求自己，只为有个更好的作品。"}],
          "url":["../../static/images/competitive.edge/staffshow05.png"]},
        {"day":"2016年8月16号","title":"集思“广亿”",
          "text":[{"detail":"我们尽心做好每一项任务，站好每一段岗位。我们精益求精，严格要求自己，只为有个更好的作品。"}],
          "url":["../../static/images/competitive.edge/staffshow06.png"]}
      ]}
    ]

  </script>
</html>
