<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="上海广亿信息技术有限公司-专业软件外包及软件工程师派遣公司,承接软件项目及APP项目开发。" />
    <meta name="keywords"  content="上海广亿信息技术有限公司,软件外包,技术服务外包,人才派遣,JAVA软件工程师派遣,软件工程师派遣,项目外包,APP外包" />
    <title>关于我们-负责声明</title>
    <link rel="stylesheet" href="../../bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/css/common/reset.css">
    <link rel="stylesheet" href="../../static/css/common/nav.css">
    <link rel="stylesheet" href="../../static/css/common/foot.css">
    <link rel="stylesheet" href="../../static/css/view/aboutUs/aboutUs.css">


    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.js"></script>
    <script type="text/javascript" src="../../bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/js/common/nav.js"></script>
    <script type="text/javascript" src="../../static/js/common/foot.js"></script>
    <script type="text/javascript" src="../../static/js/common/public.js"></script>
    <script type="text/javascript" src="../../static/js/views/aboutUs/aboutUs.js"></script>
  </head>
  <body>
    <!--  导航 开始 -->
    <div class="top"></div>
    <!--  导航结束  -->

    <!--  下拉导航  开始  -->
    <nav class="nav_content"></nav>
    <!--  下拉导航  开始  -->

    <!--  负责声明banner  开始  -->
    <div class="banner">
      <img src="../../static/images/itserverimg/itserverbanner1.png" alt="">
      <div class="banner_details">
        <h1>关于我们</h1>
        <span>上海广亿信息技术有限公司，是一家信息技术服务提供商及软件研发的高科技公司</span>
      </div>
    </div>
    <!--  负责声明banner  结束  -->

    <!--  负责声明 content 开始  -->
    <div class="container">
      <!-- 左侧导航 -->
      <div class="about_nav_left fl"></div>
      <div class="content_body fl">
        <div class="statement">
          <div class="content_title" style="margin-bottom:0;"></div>
        </div>
        <div class="second_content"></div>
      </div>
    </div>
    <!--  负责声明 content 结束  -->


    <!--  底部内容 开始  -->
    <footer class="footer_content"></footer>

    <script type="text/javascript">  
      $(function(){

        var dataFirst = datas[0].first
        var dataSecond = datas[1].second

        $(".content_title").html(
          '<h2 class="fl">'+dataFirst.title+'</h2>'+
          '<hr class="title_hr fr" style="width:85%;">'
        )

        $.each(dataSecond,function(i, v) {
          $(".second_content").append(
            '<div>'+
              '<h3 style="padding-top:60px;">'+v.title+'</h3>'+
            '</div>'
          )
          $.each(v.text,function() {
            $(".second_content div").eq(i).append(
              '<p style="text-indent:2em;padding-bottom:15px;">'+this.detail+'</p>'
            )
          });
        });

        // 列表图标


      })


      var datas = [
        {"first":
          {"title":"负责声明","text":""}
        },
        {"second":[
          {"title":"注意：","text":[
            {"detail":"在使用上海广亿信息技术有限公司（以下简称广“亿信息技术”）网站（“以下简称”）前，请您详细阅读以下条款。您使用本网站则表明您已知悉并接受以下条款。如果不接受以下条款，则请勿使用本网站。"},
            {"detail":"同时，广亿信息技术将不予以事先通知的、随时修改以下条款。由于与您密切相关，请您经常浏览本页面以获悉当前最新条款。"}]
          },
          {"title":"网站使用","text":[{"detail":"本网站内容，并不作为商业用途，仅供您个人使用。对于本网站内容中包含的各种版权及所有权声明，您应予以尊重，在其副本中应予以保留。如果有本网站内容无权利声明的情况，并不代表本网站对其不享有权利或不主张权利，请您依照诚信原则尊重此类内容之合法权益，予以合法使用。本网站不允许任何用于公开商业目的的修改、复制、公布或分发此类内容的行为；禁止未经授权的把此类内容用于其他网站、平面媒体、网络环境的行为。本网站内容及编辑、形式均受相关版权法律保护，任何未经授权的使用行为都可能构成对版权、商标和其他法律权利的侵犯。如果您不愿接受以上约定甚至违反，您使用本网站的授权自动终止，同时您必须立即销毁任何已下载或打印的本网站内容。"}]
          },
          {"title":"信息发布","text":[{"detail":"本网站对所提供信息不附加任何形式的保证，包括适销性、适合于特别用途或不侵犯知识产权的保证。此外广亿信息技术亦不保证本网站提供信息的绝对准确性和绝对完整性。本网站的内容及这些内容中涉及的产品、价格和配置等，有随时变更之可能，恕不另行通知。本网站内容也可能已经过期，广亿信息技术不承诺更新它们。"}]
          }
        ]
      }]

    </script>

  </body>

</html>
