<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name=" Keywords" content="......">      <!--content中，网页关键字-->
    <meta name=" description" content="......">   <!--content中，网页描述文字-->
    <meta name="author" content="......">        <!--标注作者-->
    <title>大数据-大数据集成开发平台</title>
    <link rel="stylesheet" href="../../bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/css/common/reset.css">
    <link rel="stylesheet" href="../../static/css/common/nav.css">
    <link rel="stylesheet" href="../../static/css/common/foot.css">
    <link rel="stylesheet" href="../../static/css/view/solution/solution.css">

    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.js"></script>
    <script type="text/javascript" src="../../bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/js/common/nav.js"></script>
    <script type="text/javascript" src="../../static/js/common/foot.js"></script>
    <script type="text/javascript" src="../../static/js/common/public.js"></script>
    <script type="text/javascript" src="../../static/js/views/solution/solution.js"></script>

    <style>
      .thirs_ptext{
        margin-top:15px;
      }
      .thirs_ptext:nth-child(5){
        margin-bottom:30px;
      }
    </style>
  </head>
  <body>
    <!--  导航 开始 -->
    <div class="top"></div>
    <!--  导航结束  -->

    <!--  下拉导航  开始  -->
    <nav class="nav_content"></nav>
    <!--  下拉导航  开始  -->

    <!--  大数据集成开发平台 banner  开始  -->
    <div class="banner">
      <img src="../../static/images/itserverimg/itserverbanner1.png" alt="">
      <div class="banner_details">
        <h1>大数据</h1>
        <span>广亿多媒体信息发布平台主要针对高端酒店、商场超市、医疗行业、连锁机构、会展场馆、企业楼宇、交通枢纽、金融</span>
        <span>及电信营业厅等用户需求定制开发的内容丰富的信息显示平台和稳定成熟的多媒体数字信息发布系统</span>
      </div>
    </div>
    <!--  大数据集成开发平台 banner  结束  -->

    <!--  大数据集成开发平台  开始  -->
    <div class="container content_body">
      <div class="company_profile">
        <div class="content_title"></div>
      </div>
      <div class="second_content"></div>
    </div>
    <!--  大数据集成开发平台  开始  -->

    <!--  底部内容 开始  -->
    <footer class="footer_content"></footer>

  </body>

  <script type="text/javascript">
    $(function(){

      var dataFirst = datas[0].first
      var dataSecond = datas[1].second

      $(".content_title").html(
        '<h2 class="fl">'+dataFirst.title+'</h2>'+
        '<hr class="title_hr fr" style="width:76.5%;">'
      )

      $.each(dataSecond,function(i,el){

        $(".second_content").append(
            '<div class="content_lists" style="margin-bottom:100px;">'+
              '<h3>'+this.title+'</h3>'+
            '</div>'
        );

        $.each(this.text,function(index,v){

          
            if(v.secondTitle != null){
              $(".content_lists").eq(i).append(
                '<h4>'+v.secondTitle+'</h4>'+
                '<div class="second_text">'+'</div>'
              );
            }

            if(el.type == 1){
            if(v.detail != null){
              $(".content_lists").eq(i).append(
                '<p style="margin-bottom:20px;text-indent:2em;">'+v.detail+'</p>'
              );
            }
            }

            if(v.url != null){
              $(".content_lists").eq(i).append(
                '<img style="margin:100px auto 60px;display:block;" src="'+v.url+'"/>'
              );
            };
          

          if(el.type == 2){
            $.each(v.detail,function(k,vle){
              $(".content_lists").eq(3).find(".second_text").eq(index).append(
                '<p class="thirs_ptext">'+vle.detailtext+'</p>'
              )
            })
            
          }
          
          
        });


      });


    });

    var datas = [
      {"first":
        {"title":"大数据集成开发平台","text":null}
      },
      {"second":[
        {"title":"概述",
         "type":"1",
         "url":null,
         "text":[
          {"secondTitle":null,"url":null,"detail":"在新一轮科技革命和产业变革的背景下，我国大数据发展既受到技术创新滞后、应用模式不成熟、人才供血不足和信息安全等方面挑战，又面临应用需求强劲增长、资本投入加速、新模式新业态不断涌现等发展机遇。为更好地抓住发展机遇，把握发展态势，助推我国大数据快速健康发展，加快大数据在企业内的落地和应用，推出大数据应用服务产品Paper以满足日益增长的企业客户需求。"},
          {"secondTitle":null,"url":null,"detail":"该产品是基于Hadoop为开发者提供应用开发服务的大数据产品。它提供Hadoop组件的数据和操作接口封装，并提供集成第三方组件的接口，以API、SDK、CLT和IDE的方式为开发者提供二次开发服务，通过WEB界面操作提供ETL及数据应用开发服务。"}
        ]},
        {"title":"设计理念及架构描述",
        "type":"1",
        "url":null,
        "text":[
          {"secondTitle":null,"url":null,"detail":" Paper旨在将繁杂的大数据底层技术组件和技术进行封装，在底层面向不同的人群提供简单、易用、易于维护和可拓展的服务开发以及计算应用。基于这个理念，Paper通过Web、Clt和SDK等形式提供开发应用服务。在面向客户实际实施和开发过程中，Paper新增了PaperCloud的模式来支持不同应用方式，包括本地化、混合云和SAAS模式的应用，这是对应用概念和方式的一次全新升级。"},
          {"secondTitle":"现有Paper系统共分为两部分","url":"../../static/images/solution/bigdata/bigdata.png","detail":null},
          {"secondTitle":"第一部分：PaperCloud","url":null,"detail":"PaperCloud包含Paper Model、Paper Function+Plugin、Paper Service、Paper SDK、Paper API、底层环境等六部分。产品通过自定义系统的数据流模型、SDK、API、Function和数据集，生成适合不同应用场景下的定制化产品包。"},
          {"secondTitle":"第二部分：PaperClient端","url":null,"detail":"从PaperCloud端用户可进行产品发布并获得模型、组件、安装程序等三方面信息。PaperClient端用户的所有开发和操作都基于底层Hadoop系统。该底层系统可使用客户原有环境，也可基于PaperCloud下载Covers进行搭建。上层通过数据操作服务平台调用平台不同的组件实现数据开发和运算服务。"},
        ]},
        {"title":"产品创新",
         "type":"1",
         "url":null,
         "text":[
          {"secondTitle":"简化的应用开发流程","url":null,"detail":"开发过程可基于WEB，也可基于CLT或IDE开发，以此来满足不同层次及不同开发者实际需求。"},
          {"secondTitle":"可集成并不断丰富的组件管理 ","url":null,"detail":"开发过程可基于WEB，也可基于CLT或IDE开发，以此来满足不同层次及不同开发者实际需求。"},
          {"secondTitle":"广泛兼容的底层环境","url":null,"detail":"Paper作为上层应用环境组件产品，兼容不同Hadoop版本以及底层环境，易于与企业已有大数据环境结合开发和使用，减少重复开发资源以及时间成本。"},
          {"secondTitle":"基于云端的定制化产品 ","url":null,"detail":"PaperCloud强调在产品层面的高度按需定制场景，只需通过简单的点选即可完成产品的定制化发布以及部署工作。"}
        ]},
        {"title":"产品方案特性",
         "type":"2",
         "url":null,
         "text":[
          {"secondTitle":"技术特性",
           "url":null,
           "detail":[
             {"detailtext":"支持第三方组件扩展"},
             {"detailtext":"兼容多种Hadoop底层环境"},
             {"detailtext":"满足从数据集定义、数据校验、预处理、算法挖掘、图形展示和输出集成的全流程"},
             {"detailtext":"兼容结构化、半结构化和非结构化类型数据源和多种模型"},
             {"detailtext":"初始化适合不同场景的产品功能，功能可随意定制和组合"}
           ]},
          {"secondTitle":"应用特性 ",
           "url":null,
           "detail":[
             {"detailtext":"快速计算、快速展现"},
             {"detailtext":"界面简单、拖拽操作"},
             {"detailtext":"上手容易、支持标准化操作 "},
             {"detailtext":"SAAS模式，免本地服务器安装、运维"},
             {"detailtext":"CLT开发模式，满足开发多样化和灵活性"}
           ]}
        ]}
      ]}
    ]
  </script>
</html>
