<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name=" Keywords" content="......">      <!--content中，网页关键字-->
    <meta name=" description" content="......">   <!--content中，网页描述文字-->
    <meta name="author" content="......">        <!--标注作者-->
    <title>云计算-广亿云</title>
    <link rel="stylesheet" href="../../bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/css/common/reset.css">
    <link rel="stylesheet" href="../../static/css/common/nav.css">
    <link rel="stylesheet" href="../../static/css/common/foot.css">
    <link rel="stylesheet" href="../../static/css/view/solution/solution.css">

    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.js"></script>
    <script type="text/javascript" src="../../bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/js/common/nav.js"></script>
    <script type="text/javascript" src="../../static/js/common/foot.js"></script>
    <script type="text/javascript" src="../../static/js/common/public.js"></script>
    <script type="text/javascript" src="../../static/js/views/solution/solution.js"></script>
  </head>
  <body>
    <!--  导航 开始 -->
    <div class="top"></div>
    <!--  导航结束  -->

    <!--  下拉导航  开始  -->
    <nav class="nav_content"></nav>
    <!--  下拉导航  开始  -->

    <!--  广亿云 banner  开始  -->
    <div class="banner">
      <img src="../../static/images/itserverimg/itserverbanner1.png" alt="">
      <div class="banner_details">
        <h1>云计算</h1>
        <span>广亿多媒体信息发布平台主要针对高端酒店、商场超市、医疗行业、连锁机构、会展场馆、企业楼宇、交通枢纽、金融</span>
        <span>及电信营业厅等用户需求定制开发的内容丰富的信息显示平台和稳定成熟的多媒体数字信息发布系统</span>
      </div>
    </div>
    <!--  广亿云 banner  结束  -->

    <!--  广亿云  开始  -->
    <div class="container content_body">
      <div class="company_profile">
        <div class="content_title"></div>
      </div>
      <div class="second_content"></div>
    </div>
    <!--  广亿云  开始  -->

    <!--  底部内容 开始  -->
    <footer class="footer_content"></footer>

  </body>

  <script type="text/javascript">
    $(function(){

      var dataFirst = datas[0].first
      var dataSecond = datas[1].second

      $(".content_title").html(
        '<h2 class="fl">'+dataFirst.title+'</h2>'+
        '<hr class="title_hr fr" style="width:91%;">'
      )

      $.each(dataSecond,function(i,el){

        $(".second_content").append(
            '<div class="content_lists" style="margin-bottom:100px;">'+
              '<h3>'+this.title+'</h3>'+
            '</div>'
        );


        $.each(this.text,function(index,v){

          if(el.type == 1){
            $.each(v.detail,function(k,vle){
              $(".content_lists").eq(0).append(
                '<p style="margin-bottom:15px;">'+vle.detailtext+'</p>'
              );
            });
          }
          
          if(el.type == 2){
            if(v.secondTitle != null){
              $(".content_lists").eq(i).append(
                '<h4 style="font-weight:700;">'+v.secondTitle+'</h4>'
              );
            }

            $(".content_lists").eq(i).append(
              '<p style="margin-bottom:15px;">'+v.detail+'</p>'
            );

            if(v.url != null){
              $(".content_lists").eq(i).append(
                '<img style="margin:100px auto 60px;display:block;" src="'+v.url+'"/>'
              );
            };
          };
          
        });

      });

    });

    var datas = [
      {"first":
        {"title":"广亿云","text":null}
      },
      {"second":[
        {"title":"背景介绍：",
         "type":"1",
         "url":null,
         "text":[
          {"secondTitle":null,"url":null,"detail":
            [
              {"detailtext":"服务器虚拟化作为云计算的基础，已经被越来越多的客户认可，虚拟化已经成为数据中心建设过程中的首选方案，将服务器物理资源抽象成逻辑资源，让一台服务器变成几台甚至上百台互相隔离的虚拟服务器，用户将不再受限于物理上的界限，而是让CPU、内存、磁盘、I/O等硬件变成可以动态管理的“资源池”，从而提高资源的利用率，简化系统管理，实现服务器整合，让IT对业务的 变化更具适应力。通过部署服务器虚拟化，用户能够获得如下收益："},
              {"detailtext":"降低TCO成本，提高硬件资源利用率，节省了机房空间成本；"},
              {"detailtext":"提高业务可用性，通过负载均衡、动态迁移、高可用等虚拟化高级功能，减少了宕机事件的发生；"},
              {"detailtext":"提高业务的灵活性，通过动态资源配置满足了不同业务对IT资源的需要；"}
            ]
          }
        ]},
        {"title":"解决方案",
         "type":"2",
         "url":null,
         "text":[
           {"secondTitle":null,"url":"../../static/images/solution/cloud/guangyiyun.png","detail":"广亿有云解决方案可为用户提供业界领先的IaaS层平台服务，秉承开放、模块化、标准化的设计理念，支持多种异构虚拟化平台，实现云数据中心各类异构资源的集中管理、统一监控，实现基础设施的服务化，简化了云数据中心的运维，提高云数据中心的服务水平，浪潮可为用户提供搭建私有云、行业云整体解决方案。"},
           {"secondTitle":null,"url":null,"detail":"1、物理服务器推荐使用浪潮八路、四路服务器，八路服务器TS860通过虚拟化形成高级计算资源池，运行数据库业务以及其他核心业务；四路服务器NF8420M3通过虚拟化形       成普通计算资源池，运行一些非核心业务；客户已有服务器可通过虚拟化后，统一纳入云数据中心进行管理，并对外提供服务。通过高低端计算资源池的搭配，既保证了核心业务系统的平稳高效运行，又降低了整个云计算中心的建设成本。"},
           {"secondTitle":null,"url":null,"detail":"2、云数据中心的服务器虚拟化软件，可根据用户业务的不同需求，选择浪潮自主开发的虚拟化软件iVirutal、业界成熟稳定的vSphere、IBM PowerVM等异构虚拟化软件。"},
           {"secondTitle":null,"url":null,"detail":"3、灾备中心通过浪潮AS8000系列实现数据级容灾，保障整个云中心健壮平稳的运行。"},
           {"secondTitle":null,"url":null,"detail":"4、云管理平台软件采用浪潮云海OS，云管理平台融合计算、存储、网络三大物理资源成为一个有机的整体，进行统一、智能、灵活的管理、分配、调度。"},
        ]},
        {"title":"客户受益",
        "type":"2",
        "url":null,
        "text":[
          {"secondTitle":"专业的一体化解决方案","url":null,"detail":"广亿致力于成为中国领先的云计算解决方案供应商，已经形成涵盖IaaS、PaaS、SaaS三个层面整体解决方案服务能力，凭借浪潮高端服务器、海量存储、云管理平台、信息安全技术为客户打造领先的云数据中心，全方位满足政府与企业信息化需求。"},
          {"secondTitle":"助力用户实现从虚拟化到云计算的飞跃，快速创建和申请虚拟数据中心","url":null,"detail":"通过云管理平台，用户可以实现真正的多租户、自服务，管理者可根据实际需要，为云资源用户快速的分配使用配额，用户可在该配额下，自主创建虚拟机使用。"},
          {"secondTitle":"灵活的组织用户控制","url":null,"detail":"云海OS可实现角色自定义，AD用户同步管理，在多租户的情形下实现用户的赋权操作，建立组织、用户、权限体系。"},
          {"secondTitle":"应用资源快速申请","url":null,"detail":"云海OS支持服务编排功能，可实现操作系统和软件的自定义部署，快速响应业务部门的需求，降低运维管理复杂度，提高运维效率。"},
          {"secondTitle":"灵活的业务流程管理","url":null,"detail":"可实现用户自定义资源申请的审批流程，实现业务流程的个性化、可定制化。审批流程结束，资源即被自动创建。"},
          {"secondTitle":"多维度安全体系","url":null,"detail":"云海OS为浪潮自主研发，加强了WEB安全、虚拟化安全、数据安全、访问控制、安全审计、多租户资源安全隔离等方面的安全控制功能，通过公安部计算机信息系统安全产品质量监督检验中心检测，符合《信息安全技术云操作系统安全检验要求》，可帮助用户构建安全可控的云数据中心。"},
          {"secondTitle":"轻量级自动化运维","url":null,"detail":"浪潮云海OS支持分布式远程执行系统，可快速管理成千上万的服务器，可执行任意命令和预定义命令，自动化部署软件以及远程管理。"},
          {"secondTitle":"全数据中心资源管理监控","url":null,"detail":"实现对数据中心各种资源的资产维护和深度管理，通过日志。各种趋势图、告警和报表实现资源的生命周期管理，支持服务器、存储、网络设别、操作系统、数据库、主流Web服务、虚拟化资源的精细监控。"},
          {"secondTitle":"精确的计量计费","url":null,"detail":"实时的资源使用情况统计，让用户精确掌控自身资源的使用情况，帮助IT部门实现由成本中心向价值中心的角色转变。"},
        ]}
      ]}
    ]
  </script>
</html>
