<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="上海广亿信息技术有限公司-专业软件外包及软件工程师派遣公司,承接软件项目及APP项目开发。" />
    <meta name="keywords"  content="上海广亿信息技术有限公司,软件外包,技术服务外包,人才派遣,JAVA软件工程师派遣,软件工程师派遣,项目外包,APP外包" />
    <title>金融银行-资产管理解决方案</title>
    <link rel="stylesheet" href="../../bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/css/common/reset.css">
    <link rel="stylesheet" href="../../static/css/common/nav.css">
    <link rel="stylesheet" href="../../static/css/common/foot.css">
    <link rel="stylesheet" href="../../static/css/view/solution/solution.css">

    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.js"></script>
    <script type="text/javascript" src="../../bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/js/common/nav.js"></script>
    <script type="text/javascript" src="../../static/js/common/foot.js"></script>
    <script type="text/javascript" src="../../static/js/common/public.js"></script>
    <script type="text/javascript" src="../../static/js/views/solution/solution.js"></script>
  </head>
  <body>
    <!--  导航 开始 -->
    <div class="top"></div>
    <!--  导航结束  -->

    <!--  下拉导航  开始  -->
    <nav class="nav_content"></nav>
    <!--  下拉导航  开始  -->

    <!--  资产管理解决方案 banner  开始  -->
    <div class="banner">
      <img src="../../static/images/itserverimg/itserverbanner1.png" alt="">
      <div class="banner_details">
        <h1>金融/银行</h1>
      </div>
    </div>
    <!--  资产管理解决方案 banner  结束  -->

    <!--  资产管理解决方案  开始  -->
    <div class="container content_body">
      <div class="company_profile">
        <div class="content_title"></div>
        <div class="content_text" style="margin-bottom:0;"></div>
      </div>
      <div class="second_content"></div>
    </div>
    <!--  资产管理解决方案  开始  -->

    <!--  底部内容 开始  -->
    <footer class="footer_content"></footer>

  </body>

  <script type="text/javascript">
    $(function(){

      var dataFirst = datas[0].first
      var dataSecond = datas[1].second

      $(".content_title").html(
        '<h2 class="fl">'+dataFirst.title+'</h2>'+
        '<hr class="title_hr fr"  style="width:78.5%;">'
      )

      $.each(dataSecond,function(i,el){

        $(".second_content").append(
          '<div class="content_lists" style="margin-bottom:100px;">'+
            '<h3>'+this.title+'</h3>'+
        '</div>'
        );

        $.each(this.text,function(index,v){
          if(v.secondTitle != null){
            $(".content_lists").eq(i).append(
            '<h4>'+v.secondTitle+'</h4>'+
            '<p style="padding-bottom:15px;">'+v.detail+'</p>'
           );
          }else{
            $(".content_lists").eq(i).append(
            '<p style="padding-bottom:15px;text-indent:2em;">'+v.detail+'</p>'
           );
          };

          if(v.url != null){
            $(".content_lists").eq(i).append(
              '<div style="width:100%;text-align:center;margin:60px 0;">'+
                '<img src="'+v.url+'" alt="" />'+
              '</div>'
            );
          };
        });

      });
      $(".content_lists:first-child p").css("text-indent","2em")

    });

    var datas = [
      {"first":
        {"title":"资产管理解决方案","text":null}
      },
      {"second":[
        {"title":"简介",
        "text":[
          {"secondTitle":null,"url":null,"detail":"广亿GS资产管理严格按照有关制度设计，内容围绕资产全生命周期，覆盖资产的配置、使用、处置、评估和收益等管理环节，科学管理单位内部资产，有利于维护和保障资产的安全和完整。同时，全生命周期的管理方式，为企业制定发展战略规划、进行投资决策、优化资源配置，提高资产使用效率，减少资源浪费发挥积极的作用。"}
        ]},
        {"title":"背景介绍",
        "text":[
          {"secondTitle":null,"url":null,"detail":"资产，是国家和企业的重要经济资源。一方面，随着社会不断发展、财政改革不断深入，面对如今数额庞大的行政事业单位国有资产，原有的资产管理模式已经远远不能满足各层级管理和应用的需要。另一方面，激烈的市场竞争迫使企业高速度、高质量、高效率安全生产，企业管理追求以信息技术手段创造价值、价值增值，资产管理信息化作用日趋明显。"}
        ]},
        {"title":"解决方案",
        "text":[
          {"secondTitle":null,"url":"../../static/images/solution/finance.bank/zichanguanli.png","detail":"广亿GS资产管理融合了先进的SAM战略资产管理理念，以智能决策为向导，内容围绕资产全生命周期，覆盖资产的配置、使用、处置、评估和收益等管理环节，科学管理单位内部资产，有利于维护和保障资产的安全和完整。支持OPC协议，能够与MES、DCS集成，实现企业内部业务与底层数据采集一体化管理，同时，全生命周期的管理方式，为企业制定发展战略规划、进行投资决策、优化资源配置，提高资产使用效率，减少资源浪费发挥积极的作用。"}
        ]},
        {"title":"微信银行的功能",
        "text":[
          {"secondTitle":"1.支持资产的全生命周期管理",
           "url":null,
           "detail":"对资产预算、计划、采购、台账、使用、维保、缺陷、安全 、租赁、报废处置以及备品备件等全生命周期管理。"
          },
          {"secondTitle":"2.支持OPC协议，全面集成MES、DCS系统",
           "url":null,
           "detail":"充分考虑物联网新技术，支持OPC协议，全面实现与MES、DCS集成，实现企业内部业务与底层数据采集一体化管理，打造智能制造时代下的智能设备管理，助力企业实现智能资产管理。"
          },
          {"secondTitle":"3.智能状态监测及数据分析，开创资产消缺维保的新模式",
           "url":null,
           "detail":"支持资产运行状态自动监测及数据分析，通过状态数据采集，并根据监测技术标准，自动分析确定资产需要进行保养、维修还是润滑等维保措施，开创了以消缺管理为源头智能驱动维修、保养、润滑管理的新模式。"
          },
          {"secondTitle":"4.拥抱互联网+，支持在线地图的实时查询应用及二维码存储",
           "url":null,
           "detail":"深入应用“互联网+”理念，充分与百度地图结合应用，实现资产在线地图的实时查询及定位。同时，浪潮GS资产管理深度应用互联网新技术，支持资产信息二维码的存储及打印，实现资产管理信息存储及应用的升级，为用户提供信息存储量更大、信息更安全的资产身份证。"
          },
          {"secondTitle":"5.预置多元化的资产管理KPI模型图形化展示，实现资产高效监管",
           "url":null,
           "detail":"融合了先进的SAM战略资产管理理念，以智能决策为向导，预置了多种类型的资产管理KPI模型，同时支持资产KPI指标的自定义扩展，结合多元化的KPI图形展示，为用户提供科学、智能的资产管理监管平台，实现资产高效的监管、科学评估及正确的分析。"
          },
          {"secondTitle":"6.支持手机、PAD、盘点机等多种移动应用，实现随时随地的资产管理",
           "url":null,
           "detail":"以4G通信技术为依托，全面向资产移动应用领域发力，产品实现以手机、PAD、盘点机等移动设备为核心的移动应用，支持移动审批、移动查询、移动盘点、等多种移动应用，实现随时随地的资产便捷管理。"
          }
        ]},
      ]}
    ]
  </script>
</html>
