<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name=" Keywords" content="......">      <!--content中，网页关键字-->
    <meta name=" description" content="......">   <!--content中，网页描述文字-->
    <meta name="author" content="......">        <!--标注作者-->
    <title>移动互联网-微商城解决方案</title>
    <link rel="stylesheet" href="../../bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/css/common/reset.css">
    <link rel="stylesheet" href="../../static/css/common/nav.css">
    <link rel="stylesheet" href="../../static/css/common/foot.css">
    <link rel="stylesheet" href="../../static/css/view/solution/solution.css">

    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.js"></script>
    <script type="text/javascript" src="../../bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/js/common/nav.js"></script>
    <script type="text/javascript" src="../../static/js/common/foot.js"></script>
    <script type="text/javascript" src="../../static/js/common/public.js"></script>
    <script type="text/javascript" src="../../static/js/views/solution/solution.js"></script>

    <style>
      .xitong p:nth-child(odd){
        padding-left:30px;
      }
      .dingzhi,.xitonggongneng{
        margin-top:100px;
      }
      .conlists{
        height:260px;
        border:1px solid #ddd;
        width:23.2%;
        cursor: pointer;
        margin-right:20px;
        margin-bottom:20px;
        padding:15px 18px;
        font-size: 16px;
      }
      .conlists:hover{
        border:none;
        background:#399bff;
        box-shadow: 2px 2px 5px #ccc;
      }
      .conlists:hover h4,.conlists:hover p{
        color:#fff;
      }
      .conlists h4{
        margin-bottom:10px;
      }
    </style>
  </head>
  <body>
    <!--  导航 开始 -->
    <div class="top"></div>
    <!--  导航结束  -->

    <!--  下拉导航  开始  -->
    <nav class="nav_content"></nav>
    <!--  下拉导航  开始  -->

    <!--  微商城解决方案 banner  开始  -->
    <div class="banner">
      <img src="../../static/images/itserverimg/itserverbanner1.png" alt="">
      <div class="banner_details">
        <h1>移动互联网</h1>
        <span>广亿多媒体信息发布平台主要针对高端酒店、商场超市、医疗行业、连锁机构、会展场馆、企业楼宇、交通枢纽、金融</span>
        <span>及电信营业厅等用户需求定制开发的内容丰富的信息显示平台和稳定成熟的多媒体数字信息发布系统</span>
      </div>
    </div>
    <!--  微商城解决方案 banner  结束  -->

    <!--  微商城解决方案  开始  -->
    <div class="container content_body">
      <div class="company_profile">
        <div class="content_title" style="margin-bottom:0;"></div>
      </div>
      
      <!-- 商城系统 -->
      <div class="xitong clearfix"></div>

      <!-- 微商城定制 -->
      <div class="dingzhi"></div>

      <!-- 微商城系统功能 -->
      <div class="xitonggongneng"></div>

    </div>
    <!--  微商城解决方案  开始  -->

    <!--  底部内容 开始  -->
    <footer class="footer_content"></footer>

  </body>

  <script type="text/javascript">
    $(function(){

      var dataFirst = datas[0].first
      var dataSecond = datas[1].second
      var dataThird = datas[2].third
      var dataFourth = datas[3].fourth

      $(".content_title").html(
        '<h2 class="fl">'+dataFirst.title+'</h2>'+
        '<hr class="title_hr fr" style="width:81%;">'
      );

      // 商城系统
      $.each(dataSecond,function(i,el){
        $(".xitong").append(
          '<div class="fl" style="width:50%;margin-top:70px;height:210px;">'+
            '<h3>'+this.title+'</h3>'+
            '<p style="text-indent:2em;width:570px;">'+this.text+'</p>'+ 
          '</div>'
        );
      });

      // 微商城定制
      $.each(dataThird,function(){
        $(".dingzhi").append('<h3>'+this.title+'</h3>'+'<p style="text-indent:2em;">'+this.text+'</p>')
      });

      // 微商城系统功能
      $.each(dataFourth,function(i,v){
        $(".xitonggongneng").append('<h3>'+this.title+'</h3>'+'<div class="blocklists row"></div>')

        $.each(v.contents,function(k,vle){
          $(".blocklists").append(
            '<div class="conlists col-sm-3">'+
              '<h4>'+vle.contitle+'</h4>'+
            '</div>'
          );
              console.log(vle)
          $.each(vle.context,function(j,vles){
            $(".conlists").eq(k).append(
              '<p>'+vles.condetails+'</p>'
            );
          });
        });

        
      });

    });

    var datas = [
      {"first":
        {"title":"微商城解决方案","text":null}
      },
      {"second":[
        {"title":"微商城系统",
         "url":null,
         "text":"微科无量从微信诞生之前就开始专注移动端微商城系统研发。7年潜心研发，精心打造移动端在线销售平台。以强大的功能和领先技术为商家搭建强大微商城系统。微信商城系统是商家4G时代淘金的利器。微科无量助力微商城，微店，微购物，微电商，微团购，为企业拓展无限商机！"
        },
        {"title":"微商城分销系统",
        "url":null,
        "text":"微科无量率先研发微商城分销系统，让商家的微商城运营实现商品的微店批零兼营、微店代理分销渠道的轻松拓展、连锁加盟微店的同步管理，代理分销渠道的佣金结算等等，从而帮商家实现微店分销更易，代理分销渠道更多，商品销售更快的目的。"
        },
        {"title":"商家最便捷的微信内置微商城",
         "url":null,
         "text":"微科无量帮助商家打造最便捷、易推广的微信内置微商城。微科无量微商城开发提供微信公众号自定义菜单管理功能，用户直接点击菜单即可进入微商城购物，自定义菜单还可以引导用户到促销页面，提高用户活跃度，还可以根据需要可定制个性化功能。"
        },
        {"title":"统计微商城数据，监控运营效果",
         "url":null,
         "text":"微商城统计功能实时统计微信公众号的关注情况和用户请求数。根据统计对相关推广营销活动效果提供数据支持，让商家对相关市场行为作出相应调整，从很大的程度上实现了对市场的监控与及时应对。为微商城的营销活动提供依据，商家可细分用户数据，真正做到微营销有的放矢。"
        }
      ]},
      {"third":[
        {"title":"微商城定制，您提要求，我们来做",
         "url":null,
         "text":"根据企业公众账号、微商城运营的需要，提供专业化、个性化、全方位的服务，内容包括：微信公众平台定制开发、模板设计、功能设计、企业微信极速定制、实现与企业CRM系统对接、微信运营指导、人员技术培训等。"
        }
      ]},
      {"fourth":[
        {"title":"微信商城系统功能",
         "url":"",
         "text":"广亿掌上医院系统 “以客户（患者/保健对象）为中心”，为客户提供完整的、连续的、个性化的、闭环的医疗健康信息服务，帮助医院优化就医流程，为客户创造便捷、高效、优质的医疗服务环境；加强医院宣传和信息公开水平，提高医患双方沟通水平，提升客户满意度。",
         "contents":[
           {"contitle":"微信公众号设置","context":[{"condetails":"自定义菜单：根据需求设置不同的菜单栏目;"},{"condetails":"图文推送：给用户推荐不同的图文;"},{"condetails":"图文管理：管理、增加‘编辑图文。"}]},
           {"contitle":"自动回复","context":[{"condetails":"用户触发关键词时自动回复;"},{"condetails":"用户关注时自动回复;"},{"condetails":"自定义文本回复信息；"},{"condetails":"自定义图文回复信息；"},{"condetails":"自定义LBS回复信息等。"}]},
           {"contitle":"微活动","context":[{"condetails":"微信商城可同时进行多种即时抽奖活动，如刮刮卡、大转盘、一战到底、微投票、微调研等。"}]},
           {"contitle":"商品管理","context":[{"condetails":"添加、编辑、修改、删除商品;"},{"condetails":"自定义商品属性，如商品颜色、尺码、材质、味道、重量等用户可选择的内容。"}]},
           {"contitle":"分类管理","context":[{"condetails":"商家可根据需求，在后台添加商品的分类主分类、二级分类、三级分类，并对相关进行管理。"}]},
           {"contitle":"支付管理","context":[{"condetails":"商家可根据需要，在后台设置最常用的支付方式，用户在前台可以直接选择方便的支付方式支付。"}]},
           {"contitle":"订单管理","context":[{"condetails":"查看订单、编辑订单、查看收款单、查看发货单、确认发货、取消订单、搜索单号等管理功能。"}]},
           {"contitle":"会员管理","context":[{"condetails":"查看会员列表、会员等级设置、编辑会员详情、删除相应无效会员、增加会员名单、通过目标条件进行会员搜索等。"},]},
           {"contitle":"权限管理","context":[{"condetails":"前台显示设置，分类组管理，自定义菜单导航设置，配送物流方式设置，添加和选择物流公司等。"}]},
           {"contitle":"系统管理","context":[{"condetails":"根据商家管理角色需求，对各层级管理员设置不同的权限，各层级管理员智能操作该层级所授予的功能。"}]},
           {"contitle":"报表管理","context":[{"condetails":"根据时间，周期等条件筛选，分别显示不同时间段财务报表、订单报表、退款报表、订单取消报表等。"}]},
           {"contitle":"其它管理","context":[{"condetails":"客户根据后台所提供的模块功能，可更加细分模块管理，并应用其它相关功能更好管理微商城。"}]}
         ]
        }
      ]}
    ]
  </script>
</html>
