<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="上海广亿信息技术有限公司-专业软件外包及软件工程师派遣公司,承接软件项目及APP项目开发。" />
    <meta name="keywords"  content="上海广亿信息技术有限公司,软件外包,技术服务外包,人才派遣,JAVA软件工程师派遣,软件工程师派遣,项目外包,APP外包" />
    <title>证券保险-资金管理系统</title>
    <link rel="stylesheet" href="../../bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/css/common/reset.css">
    <link rel="stylesheet" href="../../static/css/common/nav.css">
    <link rel="stylesheet" href="../../static/css/common/foot.css">
    <link rel="stylesheet" href="../../static/css/view/solution/solution.css">

    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.js"></script>
    <script type="text/javascript" src="../../bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/js/common/nav.js"></script>
    <script type="text/javascript" src="../../static/js/common/foot.js"></script>
    <script type="text/javascript" src="../../static/js/common/public.js"></script>
    <script type="text/javascript" src="../../static/js/views/solution/solution.js"></script>
  </head>
  <body>
    <!--  导航 开始 -->
    <div class="top"></div>
    <!--  导航结束  -->

    <!--  下拉导航  开始  -->
    <nav class="nav_content"></nav>
    <!--  下拉导航  开始  -->

    <!--  资金管理系统 banner  开始  -->
    <div class="banner">
      <img src="../../static/images/itserverimg/itserverbanner1.png" alt="">
      <div class="banner_details">
        <h1>证券/保险</h1>
        <span>商业银行需要积极主动地认识、管理和有效控制信用风险，通过实施全面有效的信用风险管理</span>
        <span>将能够帮助银行处置风险，以最低成本实现最大安全保障的科学管理</span>
      </div>
    </div>
    <!--  资金管理系统 banner  结束  -->

    <!--  资金管理系统  开始  -->
    <div class="container content_body">
      <div class="company_profile">
        <div class="content_title"></div>
      </div>
      <div class="second_content"></div>
    </div>
    <!--  资金管理系统  开始  -->

    <!--  底部内容 开始  -->
    <footer class="footer_content"></footer>

  </body>

  <script type="text/javascript">
    $(function(){

      var dataFirst = datas[0].first
      var dataSecond = datas[1].second

      $(".content_title").html(
        '<h2 class="fl">'+dataFirst.title+'</h2>'+
        '<hr class="title_hr fr" style="width:83%;">'
      )

      $.each(dataSecond,function(i,el){

        $(".second_content").append(
            '<div class="content_lists" style="margin-bottom:100px;">'+
              '<h3>'+this.title+'</h3>'+
            '</div>'
        );

        $.each(this.text,function(index,v){
          if(v.secondTitle != null ){
            $(".content_lists").eq(i).append(
              '<h4>'+v.secondTitle+'</h4>'             
            );
          };

          $(".content_lists").eq(i).append(
            '<p style="text-indent:2em;">'+v.detail+'</p>'
          );

          if(v.url != null){
            $(".content_lists").eq(i).append(
              '<img style="margin:100px auto 60px;display:block;" src="'+v.url+'"/>'
            );
          };
          
        });

      });

      $(".content_lists").eq(1).find("p").css({"textIndent":"0","paddingBottom":"18px"});
      $(".content_lists:first-child").css({"marginBottom":"0"});

    });

    var datas = [
      {"first":
        {"title":"资金管理系统","text":""}
      },
      {"second":[
        {"title":"概述",
         "url":null,
         "text":[
          {"secondTitle":null,"url":"../../static/images/securitiesInsurance/zijinguanli01.png","detail":"广亿资金管理解决方案专注于大型集团财务公司的业务需求，提供资金结算、信贷管理、资金预算、票据管理、融资管理、外汇管理等一系列功能。同时，支持为集团领导提供统计查询、决策支持等功能。目前，广亿资金管理解决方案已成功地运用到七十多家企业集团财务公司。"}
        ]},
        {"title":"系统特点",
        "url":null,
        "text":[
          {"secondTitle":"安全高效","url":null,"detail":"广亿资金管理系统拥有自主知识产权，通过自主创新信息化手段，加强对金融资产的管控能力，实现在线监控，防范金融风险，促进信息资源共享，加强企业资金安全运行，有效提升资金管理效率，保证企业金融业务健康发展。"},
          {"secondTitle":"稳定可靠","url":null,"detail":"广亿资金管理系统已成功运用于近百及大型知名企业集团，系统的稳定性、可靠性已经过上万次严苛测试运行；同时，广亿拥有最大规模的企业金融解决方案专家服务团队，保证跨地域、多项目的并行实施，有效保证系统稳定可靠。"},
          {"secondTitle":"技术前瞻性","url":null,"detail":"广亿资金管理系统专门针对集团结算中心、集团财务公司等国内集团性企业资金管理特点，是基于现今最流行的J2EE技术架构而开发的跨平台软件系统。"}
        ]},
        {"title":"系统功能",
        "url":null,
        "text":[
          {"secondTitle":null,"url":"../../static/images/securitiesInsurance/zijinguanli02.png","detail":"广亿资金管理系统主要分为分析层、运营层、基础层三个运行层级。"},
          {"secondTitle":null,"url":"../../static/images/securitiesInsurance/zijinguanli03.png","detail":"广亿资金管理解决方案总体功能包括：资金结算、担保品管理、资金计划、资金监控、信贷管理、银企平台、客户信息管理、电子单据柜、信用评级、资金业务、财务接口、价格管理、系统管理、网上金融系统、外汇管理、报表管理、领导查询、同业往来、票据管理等。资金管理系统主要功能见下图："}
        ]}
      ]}
    ]
  </script>
</html>
