<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="上海广亿信息技术有限公司-专业软件外包及软件工程师派遣公司,承接软件项目及APP项目开发。" />
    <meta name="keywords"  content="上海广亿信息技术有限公司,软件外包,技术服务外包,人才派遣,JAVA软件工程师派遣,软件工程师派遣,项目外包,APP外包" />
    <title>IT服务 核心能力</title>
    <link rel="stylesheet" href="../../bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/css/common/reset.css">
    <link rel="stylesheet" href="../../static/css/common/nav.css">
    <link rel="stylesheet" href="../../static/css/common/foot.css">
    <link rel="stylesheet" href="../../static/css/view/itservice.css">


    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.js"></script>
    <script type="text/javascript" src="../../bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/js/common/nav.js"></script>
    <script type="text/javascript" src="../../static/js/common/foot.js"></script>
    <script type="text/javascript" src="../../static/js/common/public.js"></script>
    <script type="text/javascript" src="../../static/js/views/ITservice/itservice.js"></script>
  </head>
  <body>
    <!--  导航 开始 -->
    <div class="top"></div>
    <!--  导航结束  -->

    <!--  下拉导航  开始  -->
    <nav class="nav_content"></nav>
    <!--  下拉导航  开始  -->

    <!--  核心能力 banner  开始  -->
    <div class="banner">
      <img src="../../static/images/itserverimg/itserverbanner1.png" alt="">
      <div class="banner_details">
        <h1>核心能力</h1>
      </div>
    </div>
    <!--  核心能力 banner  结束  -->

    <!--  核心能力 content  开始  -->
    <div class="container content_body">
      <div class="core_ability">
        <div class="content_title" style="height:auto;"></div>
      </div>
      <ul class="care_ability_lists row"></ul>
    </div>
    <!--  核心能力 content  结束  -->

    <!--  底部内容 开始  -->
    <footer class="footer_content"></footer>


    <script type="text/javascript">
      
    $(function(){

      var dataFirst = datas[0].first     //页面标题
      var dataSecond = datas[1].second   //核心能力内容

      // 页面标题块内容
      $(".content_title").append(
        '<h2 class="fl">'+dataFirst.title+'</h2>'+
        '<hr class="title_hr fr" style="width:88%;">'+
        '<div style="clear:both;"></div>'+
        '<div class="content_text" style="margin-top:50px;">'+
          '<p class="jishuText">'+dataFirst.text+'</p>'+
        '</div>'
        
      );

      // 核心能力  开始
      $.each(dataSecond[0].contents,function(i,v){
        $(".care_ability_lists").append(
        '<li class="col-sm-6 care_ability_lists_li">'+
          '<div class="fl">'+
            '<img src="'+v.contentsUrl+'" />'+
          '</div>'+
          '<div class="fl text_right">'+
            '<h4>'+v.contentsTitle+'</h4>'+
            '<ul class="list_details">'+'</ul>'+
          '</div>'+
        '</li>'
      );

        $.each(v.contentsText,function(j,vle){
          console.log(vle)
          $(".list_details").eq(i).append(
            '<li>'+vle.detailstext+'</li>'
          )
        })
      });

      // 核心能力  结束
          
})
  
        var datas = [
          {"first":
            {"title":"核心能力",
             "text":"广亿和我们的客户或代表客户的外包咨询公司携手合作，帮助客户开发出具备有效治理模式的外包策略。一个可执行的外包策略的关键因素之一是确保和客户业务发展目标保持一致，另一个关键因素是需要强有力的治理机制来确保策略的成功执行。一旦确定策略，广亿将与您携手构建为您量身定制的治理和沟通模式。"
            }
          },
          {"second":[
            {"title":null,
             "url":null,
             "text":null,
             "contents":[
              {"contentsTitle":"需求管理",
               "contentsUrl":"../../static/images/itserverimg/core_03.png",
               "contentsText":[
                 {"detailstext":"服务请求管理"},
                 {"detailstext":"消费管理"}
               ]},
              {"contentsTitle":"风险监控",
               "contentsUrl":"../../static/images/itserverimg/core_05.png",
               "contentsText":[
                  {"detailstext":"为用户提供全面的集成化的解决方案和服务，帮助金融机构全方位管理治理、财务、风险与合规，从而提高企业的盈利能力、效率和增长。"}
                ]},
              {"contentsTitle":"客户关系与风险管理",
               "contentsUrl":"../../static/images/itserverimg/core_09.png",
               "contentsText":[
                 {"detailstext":"沟通管理"},
                 {"detailstext":"业务控制流程（审计、规则、记录管理）"},
                 {"detailstext":"突发状况管理（升级管理、争议解决方案）"},
                ]},
              {"contentsTitle":"证券保险",
               "contentsUrl":"../../static/images/itserverimg/core_12.png",
               "contentsText":[
                 {"detailstext":"公司保险行业团队拥有从咨询、解决方案、系统开发与运维到系统集成等“端到端”的解决方案能力，主要为客户提供：财险核心系统解决方案、保险监管系统解决方案、电子商务系统解决方案、微信营销服务平台解决方案、资金管理系统解决方案、基于云计算的互联网保险核心解决方案。"}
                ]},
              {"contentsTitle":"绩效管理",
               "contentsUrl":"../../static/images/itserverimg/core_15.png",
               "contentsText":[
                 {"detailstext":"合同履行管理"},
                 {"detailstext":"SLA管理"},
                 {"detailstext":"账单及付账管理"},
                 {"detailstext":"顾客满意度管理"},
                 {"detailstext":"第三方合作伙伴关系管理"}
                ]},
              {"contentsTitle":"战略规则",
               "contentsUrl":"../../static/images/itserverimg/core_17.png",
               "contentsText":[
                  {"detailstext":"技术规划和IT架构"},
                  {"detailstext":"业务规划"},
                  {"detailstext":"流程改进"},
                  {"detailstext":"财务规划（预算和预测）"},
                  {"detailstext":"企业与系统架构"}
                ]
              }
            ]}
          ]}
        ]

      </script>
  </body>
</html>
