<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name=" Keywords" content="......">      <!--content中，网页关键字-->
    <meta name=" description" content="......">   <!--content中，网页描述文字-->
    <meta name="author" content="......">        <!--标注作者-->
    <title>软件外包-技术人才外包</title>
    <link rel="stylesheet" href="../../bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/css/common/reset.css">
    <link rel="stylesheet" href="../../static/css/common/nav.css">
    <link rel="stylesheet" href="../../static/css/common/foot.css">
    <link rel="stylesheet" href="../../static/css/view/outsource/outsource.css">

    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.js"></script>
    <script type="text/javascript" src="../../bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/js/common/nav.js"></script>
    <script type="text/javascript" src="../../static/js/common/foot.js"></script>
    <script type="text/javascript" src="../../static/js/common/public.js"></script>
    <script type="text/javascript" src="../../static/js/views/outsource/outsource.js"></script>
  </head>
  <body>
    <!--  导航 开始 -->
    <div class="top"></div>
    <!--  导航结束  -->

    <!--  下拉导航  开始  -->
    <nav class="nav_content"></nav>
    <!--  下拉导航  开始  -->

    <!--  技术人才外包 banner  开始  -->
    <div class="banner">
      <img src="../../static/images/itserverimg/itserverbanner1.png" alt="">
      <div class="banner_details">
        <h1>技术人才外包</h1>
      </div>
    </div>
    <!--  技术人才外包 banner  结束  -->

    <!--  技术人才外包内容  开始  -->
    <div class="container content_body">
      <div class="company_profile">
        <div class="content_title"></div>
        <div class="content_text" style="margin-bottom:0;"></div>
      </div>
      <div class="second_content"></div>
    </div>
    <!--  技术人才外包内容  开始  -->

    <!--  底部内容 开始  -->
    <footer class="footer_content"></footer>

  </body>

  <script type="text/javascript">
    $(function(){
    
      var dataFirst = datas[0].first
      var dataSecond = datas[1].second
    
      $(".content_title").html(
        '<h2 class="fl">'+dataFirst.title+'</h2>'+
        '<hr class="title_hr fr" style="width:83%;">'
      )
    
      $.each(dataSecond,function(i, el) {
        if(this.url != null){
         if(i === 0){
          $(".second_content").append(
            '<div class="content_lists" style="margin-bottom:100px;margin-right:20px;width:570px;display:inline-block;">'+
              '<h3>'+this.title+'</h3>'+
            '</div>'+
            '<img id="imgs'+i+'" src="'+this.url+'" />'
          )
         }else if(i === 1){
          $(".second_content").append(
            '<img style="width:420px;height:295px" src="'+this.url+'" />'+
            '<div class="content_lists" style="margin-bottom:100px;width:715px;display:inline-block;margin-left:55px;">'+
              '<h3>'+this.title+'</h3>'+
            '</div>'
          )
         }
        }else{
          $(".second_content").append(
            '<div class="content_lists" style="margin-bottom:100px;">'+
              '<h3>'+this.title+'</h3>'+
            '</div>'
          );
        };
    
        $.each(this.text,function(index, v) {
          if(v.secondTitle != null){
            $(".content_lists").eq(i).append(
              '<h4>'+v.secondTitle+'</h4>'+
              '<p style="padding-bottom:30px;">'+v.detail+'</p>'
            );
          }else{
            $(".content_lists").eq(i).append(
              '<p style="text-indent:2em;padding-bottom:18px;">'+v.detail+'</p>'
            );
          }
        });
        
      });
    
        $("#imgs0").css({"width":"600px","height":"435px","position":"relative","top":"90px"})
    
    });
    
    
    var datas = [
      {"first":
        {"title":"技术人才外包","text":null}
      },
      {"second":[
        {"title":"什么是人力外包？",
         "url":"../../static/images/outsource/human01.png",
         "text":[
          {"secondTitle":null,"detail":"人力资源”一词，英文名为“human resource”，是1954年管理大师彼得?德鲁克在《管理的实践》一书中提出来的，是指人的知识、技能、体力等各种能力的总和。“外包”一词，英文名为“outsourcing”，直译意思为“外部寻源”，是指在组织外部寻找资源来完成组织内部工作。“外包”最初是应用于信息系统技术行业，后来发展扩大到生产、销售、研发、物流、人力资源等行业，这样“外包”一词才单独独立出来成为专业术语。"},
          {"secondTitle":null,"detail":"人力资源外包不是简单地人力资源含义与外包含义的组合，它有其特定的丰富含义。它是指利用组织外部的资源，更经济、更有效地解决组织内部人力资源活动所涉及的工作。“人力资源”在“人力资源外包”中含义扩大为“人力资源活动所涉及的工作”。严格来说，委托烽火猎头这种招聘专业机构进行的高端人才寻访服务也属于人力资源外包的范畴之内。"},
          {"secondTitle":null,"detail":"人力资源外包就是企业根据需要将某一项或几项人力资源管理工作或职能外包出去，交由其他企业或组织进行管理，以降低人力成本，实现效率最大化。总体而言，人力资源管理外包将渗透到企业内部的所有人事业务，包括人力资源规划、制度设计与创新、流程整合、员工满意度调查、薪资调查及方案设计、培训工作、劳动仲裁、员工关系、企业文化设计等方方面面。"}
        ]},
        {"title":"技术人才外包的内容",
        "url":"../../static/images/outsource/human02.png",
         "text":[
          {"secondTitle":null,"detail":"技术人才外包包括有哪些内容呢？“人力资源活动所涉及的工作”首先包含了人力资源及其载体——人，其次也包含了围绕人力资源载体所产生的各种事务——人事，还包含了针对人力资源开展的各种管理活动——人力资源管理职能。"},
          {"secondTitle":null,"detail":"现在我们可以看到在一个大的人力资源外包概念下，分了三个模块：人力资源及人的外包、人事事务外包、人力资源管理职能外包。行业为有效区分大概念的人力资源外包和小概念的人力资源（及人）的外包，将小概念的人力资源（及人）的外包用专业术语“人力资源派遣”来称呼。"}
        ]},
        {"title":"技术人才外包的作用",
         "url":null,
         "text":[
          {"secondTitle":"1、技术服务外包致使专业机构规模化社会运作，降低单个企业成本",
           "detail":"多个企业相同的工作集中于一家专业机构处理，除了技术熟练程度的优势外，专业机构可使三个企业三件相同的工作转为一个企业三件相同的工作，从而在人工、时间和流程的总成本上大大下降，降低单个企业的成本。"
          },
          {"secondTitle":"2、技术服务外包可使企业减轻基础性工作，更关注促进企业竞争力的核心工作",
           "detail":"根据“二/八原则”，80%的企业利润是由20%的核心工作创造的，将这非核心的工作部分外包出去，则可令企业人力资源人士有更多时间和精力关注这20%的工作，从而有效保持和提升企业核心竞争力。"
          },
          {"secondTitle":"3、技术服务外包促使社会分工进一步细化，有利于社会整体运作效率",
           "detail":"分工的进一步细分，必然是技能的专门化和效率的提升，社会每个细胞组织的效率提升也必然促进整个社会效率的提高。"
          }
        ]},
        {"title":"技术人才外包的运作流程",
         "url":null,
         "text":[
          {"secondTitle":"1、确定外包内容",
           "detail":"企业在进行人力资源管理外包决策时，首先要考虑的是外包的内容。我国尚无相应的、完善的法律法规去规范”以及其它外包咨询行业的运作，因此，在企业准备实施人力资源管理外包之前，必须先界定清楚，某一职能是否真的适宜外包。对于企业来说，首先通常是安全性，同时要坚持不能把关系企业核心发展能力的工作外包出去的原则。对于人力资源管理来讲，工作分析与岗位描述、员工招聘、培训与发展、薪酬、福利、劳动关系、人力管理信息系统等工作是可以考虑进行外包的。比如企业对员工进行的各类在职培训，就企业本身而言一般是没有能力来全部完成的。再如国家法定的福利制度，如养老保险、失业保险、医疗保险、住房公积金等事务性工作完全可以外包出去。"
          },
          {"secondTitle":"2、选择外包的服务商",
           "detail":"技术人才外包的内容确定好以后，就要考虑如何选择服务商，一般应从以下几个方面来考虑。首先，要考虑服务的价格。其次，注重服务商的信誉和质量，它将对整项工作的完成乃至对企业的正常发展起到决定性作用。企业在对涉及企业机密、员工满意度、工作流程等敏感性人力资源管理工作（比如工作分析与岗位描述、薪酬设计、人力资源管理信息系统等）选择服务商时，必须确信其可靠性。此外，企业还需根据本企业人力资源管理工作量的大小，考虑服务商的强弱，选择适合于本企业的服务商。"
          },
          {"secondTitle":"3、选择外包的方式",
           "detail":"接下来的工作就是要选择外包的方式。一般来说，企业寻求人力资源管理外包服务商的方式可分为三大类。一类是普通的中介咨询机构，他们从事的业务很广，人力资源管理外包仅仅是他们诸多业务中的一项，企业可以把人力资源管理的某项工作完全交给他们去做；第二类是专业的人才或人力资源服务机构，如英法等国新近出现的快速人员服务公司，就是专为企业人力资源外包服务的。当然，国际盛行的猎头公司，也属于这类公司之一；第三类是企业可以寻求高等院校、科研院所的人力资源专家或研究机构的帮助，由他们来为企业出谋划策。当然，上述三类外包的方式不是各自孤立的，在实际操作中企业往往会召集各类人员，组成一个“智囊团”，力求把工作做好。"
          },
          {"secondTitle":"4、外包的实施",
           "detail":"经过上述工作，技术服务外包就可以由相应的服务商来负责实施。在这期间，作为企业的人力资源管理部门并不是消极等待，而应该是积极的参与，概括起来说也包括两方面内容。一方面是要注意人力资源外包风险的防范与控制，企业方应与服务商就相应的外包项目鉴定书面合同，明确双方的权利和义务以及违约赔偿等问题。在外包实施过程中对工作的进展作定时检查，确保工作的顺利、安全实施。另一方面,企业人力资源部门还应积极参与配合，为外包服务商尽可能提供帮助，双方应建立起双赢的合作关系，共同把工作做好。"
          }
        ]},
      ]}
    ]
  </script>
    
</html>
