<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name=" Keywords" content="......">      <!--content中，网页关键字-->
    <meta name=" description" content="......">   <!--content中，网页描述文字-->
    <meta name="author" content="......">        <!--标注作者-->
    <title>云计算-企业云</title>
    <link rel="stylesheet" href="../../../bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../static/css/common/reset.css">
    <link rel="stylesheet" href="../../../static/css/common/nav.css">
    <link rel="stylesheet" href="../../../static/css/common/foot.css">
    <link rel="stylesheet" href="../../../static/css/view/cloud/cloud.css">

    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.js"></script>
    <script type="text/javascript" src="../../../bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../static/js/common/nav.js"></script>
    <script type="text/javascript" src="../../../static/js/common/foot.js"></script>
    <script type="text/javascript" src="../../../static/js/common/public.js"></script>
    <script type="text/javascript" src="../../../static/js/views/solution/solution.js"></script>

  </head>
  <body>
    <!--  导航 开始 -->
    <div class="top"></div>
    <!--  导航结束  -->

    <!--  下拉导航  开始  -->
    <nav class="nav_content" style="margin-top:130px;"></nav>
    <!--  下拉导航  开始  -->

    <!--  企业云 banner  开始  -->
    <div class="banner">
      <img src="../../../static/images/itserverimg/itserverbanner1.png" alt="">
      <div class="banner_details">
        <h1>云计算</h1>
        <span>广亿多媒体信息发布平台主要针对高端酒店、商场超市、医疗行业、连锁机构、会展场馆、企业楼宇、交通枢纽、金融</span>
        <span>及电信营业厅等用户需求定制开发的内容丰富的信息显示平台和稳定成熟的多媒体数字信息发布系统</span>
      </div>
    </div>
    <!--  企业云 banner  结束  -->

    <!--  企业云  开始  -->
    <div class="container content_body">
      <div class="company_profile">
        <div class="content_title"></div>
      </div>
      <div class="second_content">
        <div class="content_lists lists_one">
          <div class="row">
            <div class="col-sm-6 p_details">
              <h3>企业级云aCloud</h3>
              <p>企业级云是新一代的云IT架构，基于创新的超融合技术构建，具备完整的IT基础设施服务能力和运维管理服务能力，并能承载核心数据库、ERP、财务系统、生产系统等各类企业关键业务应用。</p>
              <p>不同于传统的云，深信服超融合构建的企业级云更加轻便灵活，帮助用户快速构建业务驱动的云计算数据中心，包含私有云、混合云、行业云，将用户的IT资源池化、IT使用服务化、IT运维自动化，让关键业务轻松上云，是政府及广大企事业单位业务上云的优选方案。</p>
            </div>
            <div class="col-sm-6">
              <img src="../../../static/images/solution/cloud/cloudcom01.png" alt="">
            </div>
          </div>
        </div>

        <div class="content_lists lists_two">
          <h3>基于超融合构建的企业级云</h3>
          <div class="row">
            <div class="col-sm-6">
              <p>传统云计算架构复杂，平台的整体性能受限于各类物理设备，各组件管理无法统一，安全设备无法高效处理云数据中心内部东西向的安全威胁，同时割裂的运维工具让运维更复杂，无法实现全数据中心的敏捷。</p>
            </div>
            <div class="col-sm-6">
              <p>广亿基于超融合构建的企业级云架构，仅需通用的x86服务器和交换机硬件，利用软件定义技术实现计算、存储、网络和安全的完全资源池化，即可替代繁重复杂的传统云基础架构，实现云架构的极简。</p>
            </div>
            <div class="col-sm-12">
              <img src="../../../static/images/solution/cloud/cloudcom02.png" alt="">
            </div>
          </div>
          <div class="col-sm-6">
            <img style="margin-top:80px;" src="../../../static/images/solution/cloud/cloudcom04.png" alt="">
          </div>
          <div class="col-sm-6">
            <h4>关键应用上云</h4>
            <p style="width:100%;text-indent:2em;margin-top:50px;">由于传统云计算架构缺乏完整的安全体系和可靠性保障，关键应用上云比较困难，深信服借助超融合技术的优势，针对关键应用对稳定性、性能和网络安全的高要求作了专门的优化提升，用户可将oracle RAC等数据库集群和ERP等关键应用部署到深信服企业云上，让企业所有应用变得敏捷、弹性，让IT更好的驱动企业业务变革</p>
          </div>
        </div>
        <div class="clear"></div>

        <div class="content_lists lists_three" style="margin-top:50px;">
          <h3>技术优势</h3>
          <div class="row">
            <div class="col-sm-3">
              <div class="icons_content"><img src="../../../static/images/solution/cloud/icon21.png" alt=""><p>架构简单</p></div>
              <div class="icons_content_show"><img src="../../../static/images/solution/cloud/icon11.png" alt=""><p>架构简单</p><p>依托超融合技术将数据中心简化为2种设备：X86服务器和交换机，降低初始投资成本和学习使用设备的成本</p></div>
            </div>
            <div class="col-sm-3">
              <div class="icons_content"><img src="../../../static/images/solution/cloud/icon22.png" alt=""><p>扩容便捷</p></div>
              <div class="icons_content_show"><img src="../../../static/images/solution/cloud/icon12.png" alt=""><p>扩容便捷</p><p>依托超融合技术将数据中心简化为2种设备：X86服务器和交换机，降低初始投资成本和学习使用设备的成本</p></div>
            </div>
            <div class="col-sm-3">
              <div class="icons_content"><img src="../../../static/images/solution/cloud/icon23.png" alt=""><p>应用部署简单</p></div>
              <div class="icons_content_show"><img src="../../../static/images/solution/cloud/icon13.png" alt=""><p>应用部署简单</p><p>依托超融合技术将数据中心简化为2种设备：X86服务器和交换机，降低初始投资成本和学习使用设备的成本</p></div>
            </div>
            <div class="col-sm-3">
              <div class="icons_content"><img src="../../../static/images/solution/cloud/icon24.png" alt=""><p>数据可靠</p></div>
              <div class="icons_content_show"><img src="../../../static/images/solution/cloud/icon14.png" alt=""><p>数据可靠</p><p>依托超融合技术将数据中心简化为2种设备：X86服务器和交换机，降低初始投资成本和学习使用设备的成本</p></div>
            </div>
            <div class="col-sm-3">
              <div class="icons_content"><img src="../../../static/images/solution/cloud/icon25.png" alt=""><p>稳定高效承载关键业务</p></div>
              <div class="icons_content_show"><img src="../../../static/images/solution/cloud/icon15.png" alt=""><p>稳定高效承载关键业务</p><p>依托超融合技术将数据中心简化为2种设备：X86服务器和交换机，降低初始投资成本和学习使用设备的成本</p></div>
            </div>
            <div class="col-sm-3">
              <div class="icons_content"><img src="../../../static/images/solution/cloud/icon26.png" alt=""><p>多维度安全防护能力</p></div>
              <div class="icons_content_show"><img src="../../../static/images/solution/cloud/icon16.png" alt=""><p>多维度安全防护能力</p><p>依托超融合技术将数据中心简化为2种设备：X86服务器和交换机，降低初始投资成本和学习使用设备的成本</p></div>
            </div>
            <div class="col-sm-3">
              <div class="icons_content"><img src="../../../static/images/solution/cloud/icon27.png" alt=""><p>高效安全策略管理</p></div>
              <div class="icons_content_show"><img src="../../../static/images/solution/cloud/icon17.png" alt=""><p>高效安全策略管理</p><p>依托超融合技术将数据中心简化为2种设备：X86服务器和交换机，降低初始投资成本和学习使用设备的成本</p></div>
            </div>
            <div class="col-sm-3">
              <div class="icons_content"><img src="../../../static/images/solution/cloud/icon28.png" alt=""><p>可视化极简运维</p></div>
              <div class="icons_content_show"><img src="../../../static/images/solution/cloud/icon18.png" alt=""><p>可视化极简运维</p><p>依托超融合技术将数据中心简化为2种设备：X86服务器和交换机，降低初始投资成本和学习使用设备的成本</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  企业云  开始  -->

    <!--  底部内容 开始  -->
    <footer class="footer_content"></footer>

  </body>

  <script type="text/javascript">
    $(function(){

      var dataFirst = datas[0].first
      var dataSecond = datas[1].second

      $(".content_title").html(
        '<h2 class="fl">'+dataFirst.title+'</h2>'+
        '<hr class="title_hr fr" style="width:91%;">'
      )

      $(".icons_content_show").eq(0).show();
      $(".icons_content").eq(0).hide();
      $(".icons_content").hover(function(i){
        i = $(this).index(".icons_content");
        $(".icons_content_show").hide();
        $(".icons_content").show();
        $(this).hide();
        $(".icons_content_show").eq(i).show();
      })

    });

    var datas = [
      {"first":
        {"title":"企业云","text":null}
      },
      {"second":[
        {"title":"介绍",
         "url":null,
         "text":[
          {"secondTitle":null,"url":"../../../static/images/mobileInternet/yidongyiliao.png","detail":"广亿掌上医院系统 “以客户（患者/保健对象）为中心”，为客户提供完整的、连续的、个性化的、闭环的医疗健康信息服务，帮助医院优化就医流程，为客户创造便捷、高效、优质的医疗服务环境；加强医院宣传和信息公开水平，提高医患双方沟通水平，提升客户满意度。"}
        ]}
      ]}
    ]
  </script>
</html>
