<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name=" Keywords" content="......">      <!--content中，网页关键字-->
    <meta name=" description" content="......">   <!--content中，网页描述文字-->
    <meta name="author" content="......">        <!--标注作者-->
    <title>金融银行-金融授信融资解决方案</title>
    <link rel="stylesheet" href="../../../bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../static/css/common/reset.css">
    <link rel="stylesheet" href="../../../static/css/common/nav.css">
    <link rel="stylesheet" href="../../../static/css/common/foot.css">
    <link rel="stylesheet" href="../../../static/css/view/solution/solution.css">

    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.js"></script>
    <script type="text/javascript" src="../../../bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../static/js/common/nav.js"></script>
    <script type="text/javascript" src="../../../static/js/common/foot.js"></script>
    <script type="text/javascript" src="../../../static/js/common/public.js"></script>
    <script type="text/javascript" src="../../../static/js/views/solution/solution.js"></script>
  </head>
  <body>
    <!--  导航 开始 -->
    <div class="top"></div>
    <!--  导航结束  -->

    <!--  下拉导航  开始  -->
    <nav class="nav_content" style="margin-top:130px;"></nav>
    <!--  下拉导航  开始  -->

    <!--  微信银行解决方案 banner  开始  -->
    <div class="banner">
      <img src="../../../static/images/itserverimg/itserverbanner1.png" alt="">
      <div class="banner_details">
        <h1>金融/银行</h1>
      </div>
    </div>
    <!--  微信银行解决方案 banner  结束  -->

    <!--  微信银行解决方案  开始  -->
    <div class="container content_body">
      <div class="company_profile">
        <div class="content_title"></div>
        <div class="content_text" style="margin-bottom:0;"></div>
      </div>
      <div class="second_content"></div>
    </div>
    <!--  微信银行解决方案  开始  -->

    <!--  底部内容 开始  -->
    <footer class="footer_content"></footer>

  </body>

  <script type="text/javascript">
    $(function(){

      var dataFirst = datas[0].first
      var dataSecond = datas[1].second

      $(".content_title").html(
        '<h2 class="fl">'+dataFirst.title+'</h2>'+
        '<hr class="title_hr fr"  style="width:78%;">'
      )

      $.each(dataSecond,function(i,el){

        $(".second_content").append(
          '<div class="content_lists" style="margin-bottom:100px;">'+
            '<h3>'+this.title+'</h3>'+
        '</div>'
        );

        $.each(this.text,function(index,v){
          if(v.secondTitle != null){
            $(".content_lists").eq(i).append(
            '<h4>'+v.secondTitle+'</h4>'
           );
          };

          $(".content_lists").eq(i).append(
            '<p style="padding-bottom:15px;">'+v.detail+'</p>'
           );

          if(v.url != null){
            $(".content_lists").eq(i).append(
              '<div style="width:100%;text-align:center;margin:60px 0;">'+
                '<img src="'+v.url+'" alt="" />'+
              '</div>'
            );
          };
        });

      });
      $(".content_lists:first-child p").css("text-indent","2em")

    });

    var datas = [
      {"first":
        {"title":"微信银行解决方案","text":null}
      },
      {"second":[
        {"title":"简介",
        "text":[
          {"secondTitle":null,"url":null,"detail":"以互联网为代表的现代信息科技，特别是移动支付、云计算、社交网络和搜索引擎等，将对人类金融模式产生根本影响。可能出现一个既不同于商业银行间接融资、也不同于资本市场直接融资的第三种金融融资模式。"},
          {"secondTitle":null,"url":"../../../static/images/solution/wechat.png","detail":"微信银行是典型的互联网金融产品，是银行与互联网竞合的并行关系促进银行业务的创新的产物。"}
        ]},
        {"title":"微信银行的功能",
        "text":[
          {"secondTitle":"信用卡","url":null,"detail":"在微信平台的信用卡服务中，可以分为两类，一类是一些商业银行的信用卡系列功能;另一类则是部分没有真正意义上的“微信银行”，而是单独设置的信用卡服务中心 。"},
          {"secondTitle":"理财产品","url":null,"detail":"“签约微信平台，选购自己心仪的理财产品，通过微信直接购买”，贷帮网的“微信平台”(微信公共账号dai_bang)已经可以实现“微理财”服务。可以通过贷帮的微信平台选择合适理财产品进行购买。也可以了解产品信息，查询账户等。"},
          {"secondTitle":"特色服务","url":null,"detail":"不少银行表示将进一步优化微信银行的功能，提供转账汇款、理财、本地生活、无卡取款、手机充值、信用卡账单和积分查询、信用卡快速还款，微取款、微支付、微汇款、微融资等功能。"}                
        ]}
      ]}
    ]
  </script>
</html>
